{% load staticfiles %}  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Bora!</title>
</head>
<body>
    <header>
        <div>
            <nav>
                <a href="#" id="logoMobile">
                    <img src="{% static '/images/logo/bora.png' %}" alt="Logo Bora!">
                </a>
                <ul>
                    <li>
                        <a href=#>
                            <img src="{% static '/images/logo/bora.png' %}" alt="Logo Bora!">
                        </a>
                    </li>
                    <li>
                       <a href="#comoFunciona">
                            Como Funciona
                        </a>
                    </li>
                    <li>
                        <a href="#inscreverSe">
                            Inscrever-se
                        </a>
                    </li>
                    <li>
                        <a href="#footerLinks">
                            Contato
                        </a>
                    </li>
                    <li>
                        <article id="login">
                            <a href="{%url 'user:login' %}">Entrar</a>
                        </article>
                    </li>
                    <li class="menuHamburguer">
                        <i class="fas fa-bars fa-2x"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <h1>Bora pra onde hoje?</h1>
            <input type="text" placeholder="Pesquise aqui um rolê por região">
        </main>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div id="footerLinks">
            <img id="bora" src="{% static '/images/logo/bora.png' %}" alt="">
            <div id="links">
            <a href="">Termos e Privacidade</a>
            <a href="">Contato</a>
            </div>
            <div id="redesSocias">
                    <div id="icons">  
                        <div class="image"><a href=""><img src="{% static '/images/footer/facebook.png' %}" alt=""></a></div>
                        <div class="image"><a href=""><img src="{% static '/images/footer/linkedin.png' %}" alt=""></a></div>
                        <div class="image"><a href=""><img src="{% static '/images/footer/twitter.png' %}" alt=""></a></div>
                        <div class="image"><a href=""><img src="{% static '/images/footer/instagram.png' %}" alt=""></a></div>
                    </div>
            <p>Redes Socias</p>
            </div>
        </div>
        <p id="copyright">© 2019 Bora Rolês Ltda</p>
    </footer>
</body>
</html>