{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bora!</title>
    <link rel="stylesheet" href="{% static 'css/navbar_logado.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    {% block links %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <nav id = "nav-logado"> 
        <div>
            <img src="{% static '/images/logo/bora.png' %}" alt="Logo Bora!">   
        </div>       
        <ul>         
            {% if user.is_authenticated %}    
            <li>Olá, {{ user.username }}!</li>           
            <li><a href="{% url 'user:dashboard' %}">Perfil</a></li>
            <li><a href="{% url 'role:user_roles' %}">Criar Rolê</a></li>
            <li><a href="{% url 'role:user_options' %}">Rolês</a></li>
            <li><a href="{% url 'user:logout' %}">Sair</a></li>
            {% else %}
            <li><a href="{% url 'home:index' %}">Home</a></li>
            <li><a href="{% url 'user:reg' %}">Cadastre-se</a></li>
            <li><a href="{% url 'user:login' %}">Entrar</a></li>
            {% endif %}
        </ul>                                   
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>