</form>
{% extends 'base_logado.html' %}
{% load staticfiles %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %} 
<section>
        <div class="txt1">
            <h3>Olá, {{ user.first_name }} {{ user.last_name }}!</h3>
            <p>Aqui estão suas informções pessoais e interesses.</p>            
        </div>
        <div class="txt2">                
            <img src="{% static '/images/sugestoes/place.png' %}" alt="">
            <article>
                <h3>Sua localização agora:</h3>
                <p>Estação Hack - Trianon Masp</p>
            </article>             
        </div>
        <ul>
            <h3>Interesses</h3>  
            <li>Bons Drinks</li>
            <li>Gastronomia</li>
            <li>Diversão</li>
            <li>Viagem</li>
            <li>Tecnologia</li>
        </ul>        
</section>  
{% endblock %}     
