</form>
{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}   
<section>        
    <article id="filtro">    
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>     
            <div>
                <a href="">Esqueceu a senha? </a>          
                <a href="{% url 'home:index' %}">Voltar</a>           
                <a href="{% url 'user:register' %}">Cadastre-se</a>        
            </div>  
    </article> 
      
</section>

{% endblock %}     
