body{
    margin:0;
    display: grid;
    grid-template-areas: 
        'header header'
        'aside article '
        'aside article '
        'section section'
        'footer footer';
    grid-template-rows:    60vh 20vh 20vh 40vh 30vh;
    grid-template-columns: 49vw 49vw;
}

header{
    grid-area: header;
    background-color: red;
}

aside {
    grid-area: aside;
    background-color: rgb(226, 43, 156);
}

article{
    grid-area: article;
    background-color: rgb(89, 4, 146);
}

section {
    grid-area: section;
    background-color: rgb(0, 255, 0);
}   

footer{
    grid-area: footer;
    background-color: rgb(255, 217, 0);
}

@media(max-width:768px){
    body{
        grid-template-areas: 
        'header header'
        'aside aside'
        'article article'
        'section section'
        'footer footer';
        grid-template-rows: 30vh 20vh 10vh 40vh 20vh;    
        grid-template-columns: 49vw 49vw;   
    }
}

@media(max-width:425px){
    body{
        grid-template-areas: 
        'header header'
        'aside aside'
        'article article'
        'section section'
        'footer footer';
        grid-template-rows: 30vh 10vh 10vh 30vh 20vh;    
        grid-template-columns: 49vw 49vw;   
    }
}