section {    
    background-color: #2d2f33;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}

#dashDados{
    height: 80%;
    width: 40%;
    background-color: #57585b;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    color:white;
} 


#dashDados h2, h3{
    font-size: 20pt;
    margin-left: 20px;
}

#dashDados h3 {
    color:#ee3f60;
}
#dashDados h4{
    font-size: 14pt;
    margin-left: 20px;
}

#dashDados p{
    margin-left: 20px;
}


#dashDados ul li{
    list-style-type: none;
}

#dashLocalizacao{
    height: 80%;
    width: 40%;  
    background-color: #57585b;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dashLocalizacao img{
    width: 70px;
}

#dashLocalizacao article h3{
    font-size: 20pt;
}

#dashLocalizacao article p{
    font-size: 14pt;
    text-align: center;
}

/* Tamanho Tablet */
@media(max-width:768px){ 

}

/* Tamanho Smartphone */
@media(max-width:425px){
  
}
