
article{
    background-color: white;
    width: 72%;
    height: 90%; 
    border-radius: 3px; 
    border: 1px solid rgba(0,0,0,.12)!important;
    border-bottom: 1px solid 
}

article div:nth-child(1) h3{
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    margin-bottom: 0;
    color: rgba(3, 3, 3, 0.822);
    padding-left: 12px;
}

article div:nth-child(1) hr{
    width: 97%;
}

article div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 60%
}

article div:nth-child(2) aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article div:nth-child(2) aside p{
    font-family: 'Raleway', sans-serif;
    font-size: 10pt; 
    margin:0; 
}

article div:nth-child(2) aside h3{
    font-family: 'Raleway', sans-serif;
    color: rgba(32, 29, 29, 0.822);
    margin-top:0;  
}

article div:nth-child(2) ul{
    font-family: 'Raleway', sans-serif;
    margin:0;
}

article div:nth-child(2) ul h3{
    font-family: 'Raleway', sans-serif;
    color: rgba(32, 29, 29, 0.822);
    margin-top:0;
}

article div:nth-child(2) li{
    list-style-type: none;
    font-size: 10pt;
}

section {    
    background-color: rgba(241, 245, 245, 0.822); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

/* Tamanho Tablet */
@media(max-width:768px){ 

}

/* Tamanho Smartphone */
@media(max-width:425px){
  
}
