body{
    margin: 0;
}

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

nav ul{
    margin: 6vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}