{% load staticfiles %}  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Bora!</title>
</head>
<body>
    <header>
        <div>
            <a href=#>
                <img src="{% static '/images/logo/bora.png' %}" alt="Logo Bora!">
            </a>
            <nav>
                <div class="menuHamburguer">
                    <i class="fas fa-bars fa-2x"></i>
                </div>
                <ul>
                    <li>
                       <a href="#comoFunciona">
                            Como Funciona
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            Contato
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            Inscrever-se
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <article id="login">
                            <a href="#">Entrar</a>
                        </article>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <h1>Bora pra onde hoje?</h1>
            <input type="text" placeholder="Pesquise aqui um rolê por região">
        </main>
    </header>
    {% block content %}
    {% endblock %}
    <footer></footer>
</body>
</html>