html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: 
        'header header'
        'aside article'
        'aside article'
        'section section'
        'footer footer';
    grid-template-rows:  100vh 20vh 20vh 40vh 30vh;
    grid-template-columns: 49vw 49.79vw;
}

header {
    grid-area: header;
    background-image: url("/static/images/header.jpeg");
    background-size: 100%;
    font-family: 'Raleway', sans-serif;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuFixo {
    position: fixed;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

.botaoFixo {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background: #f26e57;
    border: white solid 2px;
    color: white;
}

header nav {
    display: flex;
    position: relative;
    justify-content: flex-end;    
    align-items: center;
}

header nav ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    font-size: 20px;
}

header div nav article {
    padding: 10px;
    text-align: center;
    border-radius: 18px;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
    color: white;
}

header main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 315px 0;
}

header main h1 {
    font-size: 48pt;
    color: white;
    letter-spacing: -3px;
    margin: 5px;
}

header main input {
    background-color: #ffffff42;
    border: #ee3f60 solid 2px;
    border-radius: 20px;    
    width: 35%;
    color: white;
    height: 40px;
    font-size: 20px;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

header main input::-webkit-input-placeholder {
    color: white;
 }
  
 header main input:-moz-placeholder { /* Firefox 18- */
    color: red;  
 }
  
 header main input::-moz-placeholder {  /* Firefox 19+ */
    color: white;  
 }
  
 header main input:-ms-input-placeholder {  
    color: white;  
 }

aside {
    grid-area: aside;
    background-color: rgb(226, 43, 156);
}

article{
    grid-area: article;
    background-color: rgb(89, 4, 146);
}

section {
    grid-area: section;
    background-color: rgb(0, 255, 0);
}   

footer{
    grid-area: footer;
    background-color: rgb(255, 217, 0);
}

@media(max-width:768px){
    body{
        grid-template-areas: 
        'header header'
        'aside aside'
        'article article'
        'section section'
        'footer footer';
        grid-template-rows: 30vh 20vh 10vh 40vh 20vh;    
        grid-template-columns: 49vw 49vw;   
    }
}

@media(max-width:425px){
    body{
        grid-template-areas: 
        'header header'
        'aside aside'
        'article article'
        'section section'
        'footer footer';
        grid-template-rows: 30vh 10vh 10vh 30vh 20vh;    
        grid-template-columns: 49vw 49vw;   
    }
}