{% extends 'base_logado.html' %}
{% load staticfiles %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/options.css' %}"> 
{% endblock %}
{% block scripts %}
<script defer src="{% static 'js/options.js' %}"></script>
{% endblock %}
{% block content %}
<body>
    <section>
        <div class="txt1">
            <h3>Olá, {{ user.username }}!</h3>
            <p>Dá uma olhadinha nos rolês que estão acontecendo perto de você!</p>            
        </div>
        <div class="txt2">                
            <img src="{% static '/images/sugestoes/place.png' %}" alt="">
            <article>
                <h3>Sua localização agora:</h3>
                <p>Estação Hack - Trianon Masp</p>
            </article>             
        </div>
        {% for item in lista %}
        <div class="paulista">
            <img id="img" src="{% static '/images/sugestoes/' %}{{ item.es_icon }}" alt="">
            <article>
                <h3>{{ item.es_name }}</h3>
                <p>{{ item.es_street }}, {{ item.es_number }} - {{ item.es_district }}, {{ item.es_city }} - {{ item.es_state }}</p>
                <img id="stars" src="{% static '/images/sugestoes/estrelas.png' %}" alt="">
            </article>
            <button>Ver Sugestão</button>
        </div>            
        {% endfor %}       
    </section>
</body>
{% endblock %}