body{
    margin: 0;
}

nav{
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

nav div{
    display: flex;
    margin: 6vw;
    color: white;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

nav div img{
    margin: 4px;
    width: 40px;
}

nav div a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}


section{
    display: flex;
    flex-flow: wrap;
    background-color: snow;
    justify-content: space-around;
}

section div{
    background-color: white;
    width: 25%;
    height: 283px; 
    display: flex;
}

section div img{
   width: 100%;  
}

:hover section div{
    color: black;
}

.musica{
    margin: 0px;
    background-image: url('/static/images/interesses/musica.png');
    background-size: cover;
    display: flex;
}

.fotografia{
    margin: 0px;
    background-image: url('/static/images/interesses/fotografia.png');
    background-size:cover;
    display: flex;
}

.moda{
    margin: 0px;
    background-image: url('/static/images/interesses/moda.png');
    background-size:cover;
    display: flex;
}

.viagem{
    margin: 0px;
    background-image: url('/static/images/interesses/viagem.png');
    background-size:cover;
    display: flex;
}

.gastronomia{
    margin: 0px;
    background-image: url('/static/images/interesses/gastronomia.png');
    background-size:cover;
    display: flex;
}

.diversao{
    margin: 0px;
    background-image: url('/static/images/interesses/diversao.png');
    background-size:cover;
    display: flex;
}

.tecnologia{
    margin: 0px;
    background-image: url('/static/images/interesses/tecnologia.png');
    background-size:cover;
    display: flex;
}

.bonsDrinks{
    margin: 0px;
    background-image: url('/static/images/interesses/bonsDrinks.png');
    background-size:cover;
    display: flex;
}

p{
    width: 100%;
    text-align: center;
    font-family: 'Lalezar', cursive;
    color: white;
    font-size: 28pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.musica:hover{
    opacity: 0.7;
}

.fotografia:hover{
    opacity: 0.7;
}

.moda:hover{
    opacity: 0.7;
}

.viagem:hover{
    opacity: 0.7; 
}

.gastronomia:hover{
    opacity: 0.7;
}

.diversao:hover{
    opacity: 0.7;
}

.tecnologia:hover{
    opacity: 0.7;
}

.bonsDrinks:hover{
    opacity: 0.7;
}

/*fim das imagens, mores*/

/*aqui começa o pop-up, que Deus me ajude*/

.fundoPopup{
    background-color: rgba(0, 0, 0, 0.63);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    display: flex;
}

.popup{
    position: fixed;
    border-radius: 25px;
    width: 480px;
    height: 350px;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#ana{
    color: #ee3f60; 
    margin: 0;
    padding-top: 10px;
}

#txtAna{
    color: gray;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin: 0;
}

.txtAna{
    width: 380px;
    height: 100px;
    margin: 0;
}

#ana{
    font-size: 20pt;
}

.logoColorido{
    width: 250px;
    height: 100px;
    padding-top: 10px;
}

section div img{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
}

button{
    width: 200px;
    height: 60px;
    font-size: 17pt;
    border-radius: 50px;
    box-shadow: none;
    font-family:'Lalezar', cursive;
    color: antiquewhite;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

.botao{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.botao2{
    padding-top: 30px;
    display: none;
    justify-content: center;
}

.verBotao {
    display: flex;
}

/* Tamanho Tablet */
@media(max-width:981px){
    section div{
    width: 50%;
    height: 283px; 
    display: flex;
    }
}

/* Tamanho Ipad Pro */
@media(max-width:1024px){
    section div{
    width: 50%;
    height: 283px; 
    display: flex;
    }
}

/* Tamanho Iphone*/
@media(max-width:545px){
    section div{
    width: 100%;
    height: 283px; 
    display: flex;
    }

    .popup{
        position: fixed;
        border-radius: 25px;
        width: 300px;
        height: 350px;
        top: 0; bottom: 0;
        left: 0; right: 0;
        padding: 15px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .txtAna{
        width:300px;
    }
}


