body{
    margin: 0;
}

nav{
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

nav div{
    display: flex;
    margin: 6vw;
    color: white;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

nav div img{
    margin: 4px;
    width: 40px;
}

nav div a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #2d2f33;
}

section{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 20px;
}

.txt1, .txt2, .paulista, .masp, .casaDasRosas, .feimi, .charme, .feiraGastronomica{
    width: 45%;
    height: 150px;
    background-color: #57585b;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#stars{
    width:110px;
}

section div:first-child, div:nth-child(2){
    background-color: #2d2f33
}

#paulistaImg{
    width: 110px;
    height: 110px;
}

.paulista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

article{
    font-family: 'Segoe UI';
    color: white;
    height: 130px;
}

article p{
    font-size: 10pt;
}

#img{
    width: 110px;
    height: 110px;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color:white;
    background-color: #ee3f60;
}

.charme{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.feiraGastronomica{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt1{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI';
    align-items: flex-start;
    justify-content: center;
}

.txt1 p{
    margin: 0;
}

.txt1 h3{
    margin: 0;
}

.txt2{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Segoe UI';
    justify-content: flex-start;
    align-items: center;
}

.txt2 img{
    padding-right: 10px;
}

.txt2 p{
    margin: 0;
}

.txt2 h3{
    margin: 0;
}

.txt2 article{
    height: 40px;
}