body {
    margin: 0;
    display: grid;
    grid-template-areas: 'header'
                        'section'	
                        'aside';
    grid-template-rows: 10vh 35vh 50vh;
    grid-template-columns: 100vw;
}

body{
    background-color: #2d2f33;
}

section{
    grid-area: section;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h3 {
    font-size: 25pt;
}
p {
    font-size: 16pt;
}

span {
    font-size: 75pt;
    color: #ee3f60;
    padding: 0px 15px 0px 0px;
}

.txt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #b9b6b675;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
}

article img {
    width: 120px;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color:white;
    background-color: #ee3f60;
}

.paulista {
    margin: 10px;
}

.paulista article a {
    padding: 15px 0px 0px 0px;
}

.popup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

#location-map{
    position: relative;
    background-color: white;
    margin-top: 5vh;
    border: none;
    border-radius: 20px;
    height: 80vh;
    width: 50vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }

.mapa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media(max-width:922px) {

    body {
        grid-template-rows: 10vh 60vh 120vh;
    }

    aside {
        flex-wrap: nowrap;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    #location-map {
        width: 100%;
        border-radius: none;
    }    
    
    .txt2 {
        flex-direction: column;
    }

    .txt2 h3 {
        font-size: 16pt;
    }

    span {
        padding: 0px;
        font-size: 45pt;
    }
    
    p {
        font-size: 12pt;
    }
}


@media(max-width:545px){
    
    body {
        grid-template-rows: 40vh 90vh 290vh;
    }

    #nav-logado div img {
        width: 74px;
        margin-left: 0px;
    }

    #nav-logado {
        flex-direction: column;
        height: 30vh;
    }

    #nav-logado ul {
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        align-items: flex-end;
    }
    
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .popup{
        flex-direction: column-reverse;
        align-items: center;
    }

    #location-map{
        width: 100%;
        border-radius: none;
    }    
    
    .txt2 {
        flex-direction: column;
    }

    .txt2 h3 {
        font-size: 16pt;
    }

    span {
        padding: 0px;
        font-size: 45pt;
    }
    
    p {
        font-size: 12pt;
    }
}