body{
    margin: 0;
}

body{
    background-color: #2d2f33;
}

section{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 20px;
}

.txt1, .txt2, .paulista, .masp, .casaDasRosas, .feimi, .charme, .feiraGastronomica{
    width: 45%;
    height: 150px;
    background-color: #57585b;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#stars{
    width:110px;
}

section div:first-child, div:nth-child(2){
    background-color: #2d2f33
}

#paulistaImg{
    width: 110px;
    height: 110px;
}

.paulista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

article{
    font-family: 'Segoe UI';
    color: white;
    height: 130px;
}

article p{
    font-size: 10pt;
}

#img{
    width: 110px;
    height: 110px;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color:white;
    background-color: #ee3f60;
}

.charme{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.feiraGastronomica{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt1{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI';
    align-items: flex-start;
    justify-content: center;
}

.txt1 p{
    margin: 0;
}

.txt1 h3{
    margin: 0;
}

.txt2{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Segoe UI';
    justify-content: flex-start;
    align-items: center;
}

.txt2 img{
    padding-right: 10px;
}

.txt2 p{
    margin: 0;
}

.txt2 h3{
    margin: 0;
}

.txt2 article{
    height: 40px;
}

.fundoPopup{
    background-color: rgba(0, 0, 0, 0.63);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    display: none;
}

.popup{
    position: fixed;
    border-radius: 25px;
    width: 700px;
    height: 450px;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 15px;
    margin: auto;
    display: none;
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: white; 
    justify-content: flex-end;   
    
}

#location-map{
    /* position: fixed; */
    background: #fff;
    border: none;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
    /* flex-direction: column;
    align-items: center;  */
  }

.mapa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}