body{
    margin: 0;
}



nav{
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

nav div{
    display: flex;
    margin: 6vw;
    color: white;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

nav div img{
    margin: 4px;
    width: 40px;
}

nav div a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}


section{
    display: flex;
    flex-flow: wrap;
    background-color: snow;
    justify-content: space-around;
}

section div{
    background-color: white;
    width: 25%;
    height: 283px; 
    display: flex;

}

section div img{
   width: 100%;
   
}

:hover section div{
    color: black;
}

.musica{
    margin: 0px;
    background-image: url('/static/images/interesses/musica.png');
    background-size: cover;
}

.fotografia{
    margin: 0px;
    background-image: url('/static/images/interesses/fotografia.png');
    background-size:cover;
}

.moda{
    margin: 0px;
    background-image: url('/static/images/interesses/moda.png');
    background-size:cover;
}

.viagem{
    margin: 0px;
    background-image: url('/static/images/interesses/viagem.png');
    background-size:cover;
}

.gastronomia{
    margin: 0px;
    background-image: url('/static/images/interesses/gastronomia.png');
    background-size:cover;
}

.diversao{
    margin: 0px;
    background-image: url('/static/images/interesses/diversao.png');
    background-size:cover;
}

.tecnologia{
    margin: 0px;
    background-image: url('/static/images/interesses/tecnologia.png');
    background-size:cover;
}

.bonsDrinks{
    margin: 0px;
    background-image: url('/static/images/interesses/bonsDrinks.png');
    background-size:cover;
}

p{
    width: 100%;
    text-align: center;
    font-family: 'Lalezar', cursive;
    color: white;
    font-size: 28pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
