body{
    margin: 0;
}

nav{
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #ee3f60 0%, #ee3f60 46%, #f26e57  100%);
}

nav div{
    display: flex;
    margin: 6vw;
    color: white;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

nav div img{
    margin: 4px;
    width: 40px;
}

nav div a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}


section{
    display: flex;
    flex-flow: wrap;
    background-color: snow;
    justify-content: space-around;
}

section div{
    background-color: white;
    width: 25%;
    height: 283px; 
    display: flex;
}

section div img{
   width: 100%;  
}

:hover section div{
    color: black;
}

.musica{
    margin: 0px;
    background-image: url('/static/images/interesses/musica.png');
    background-size: cover;
    display: flex;
}

.fotografia{
    margin: 0px;
    background-image: url('/static/images/interesses/fotografia.png');
    background-size:cover;
    display: flex;
}

.moda{
    margin: 0px;
    background-image: url('/static/images/interesses/moda.png');
    background-size:cover;
    display: flex;
}

.viagem{
    margin: 0px;
    background-image: url('/static/images/interesses/viagem.png');
    background-size:cover;
    display: flex;
}

.gastronomia{
    margin: 0px;
    background-image: url('/static/images/interesses/gastronomia.png');
    background-size:cover;
    display: flex;
}

.diversao{
    margin: 0px;
    background-image: url('/static/images/interesses/diversao.png');
    background-size:cover;
    display: flex;
}

.tecnologia{
    margin: 0px;
    background-image: url('/static/images/interesses/tecnologia.png');
    background-size:cover;
    display: flex;
}

.bonsDrinks{
    margin: 0px;
    background-image: url('/static/images/interesses/bonsDrinks.png');
    background-size:cover;
    display: flex;
}

p{
    width: 100%;
    text-align: center;
    font-family: 'Lalezar', cursive;
    color: white;
    font-size: 28pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.musica:hover{
    opacity: 0.7;
}

.fotografia:hover{
    opacity: 0.7;
}

.moda:hover{
    opacity: 0.7;
}

.viagem:hover{
    opacity: 0.7; 
}

.gastronomia:hover{
    opacity: 0.7;
    background-color: black;
}

.diversao:hover{
    opacity: 0.7;
    background-color: black;
}

.tecnologia:hover{
    opacity: 0.7;
    background-color: black;
}

.bonsDrinks:hover{
    opacity: 0.7;
    background-color: black;
}

/* Tamanho Tablet */
@media(max-width:981px){
    section div{
    width: 50%;
    height: 283px; 
    display: flex;
    }
}

/* Tamanho Ipad Pro */
@media(max-width:1024px){
    section div{
    width: 50%;
    height: 283px; 
    display: flex;
    }
}

            /* Tamanho Ipad Pro */
@media(max-width:545px){
    section div{
    width: 100%;
    height: 283px; 
    display: flex;
    }
}